{
	"presets": [
		[
			"@babel/preset-env"
		],
		["@babel/preset-react", {
			"runtime": "classic"
		}],
		"@babel/preset-typescript"
	],
	"plugins": [
		"@babel/plugin-proposal-class-properties",
		"@babel/plugin-transform-object-assign",
		"@babel/plugin-transform-async-to-generator"
	]
}
